<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>property</key>
	<dict>
		<key>width</key>
		<integer>355</integer>
		<key>height</key>
		<integer>424</integer>
	</dict>
	<key>unit_list</key>
	<dict>
		<key>normal</key>
		<dict>
			<key>point</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>424</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<array>
					<integer>1</integer>
					<integer>0</integer>
					<integer>355</integer>
					<integer>424</integer>
				</array>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>355</integer>
					<integer>0</integer>
				</array>
			</array>
			<key>triangle</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</array>
		</dict>
		<key>xiongbu</key>
		<dict>
			<key>point</key>
			<array>
				<array>
					<real>0.28169014084507</real>
					<real>0.47169811320755</real>
					<integer>100</integer>
					<integer>224</integer>
				</array>
				<array>
					<real>0.36619718309859</real>
					<real>0.48584905660377</real>
					<integer>130</integer>
					<integer>218</integer>
				</array>
				<array>
					<real>0.44225352112676</real>
					<real>0.52122641509434</real>
					<integer>157</integer>
					<integer>203</integer>
				</array>
				<array>
					<real>0.44507042253521</real>
					<real>0.58962264150943</real>
					<integer>158</integer>
					<integer>174</integer>
				</array>
				<array>
					<real>0.38591549295775</real>
					<real>0.61792452830189</real>
					<integer>137</integer>
					<integer>162</integer>
				</array>
				<array>
					<real>0.30140845070423</real>
					<real>0.61084905660377</real>
					<integer>107</integer>
					<integer>165</integer>
				</array>
			</array>
			<key>triangle</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>5</integer>
				</array>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>5</integer>
				</array>
				<array>
					<integer>2</integer>
					<integer>3</integer>
					<integer>5</integer>
				</array>
				<array>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
				</array>
			</array>
			<key>animation</key>
			<dict>
				<key>rock</key>
				<array>
					<dict>
						<key>type</key>
						<integer>0</integer>
						<key>start</key>
						<integer>0</integer>
						<key>end</key>
						<real>0.2</real>
						<key>value</key>
						<array>
							<dict>
								<key>id</key>
								<integer>1</integer>
								<key>x</key>
								<integer>130</integer>
								<key>y</key>
								<integer>218</integer>
								<key>x_move</key>
								<integer>3</integer>
								<key>y_move</key>
								<integer>20</integer>
							</dict>
							<dict>
								<key>id</key>
								<integer>2</integer>
								<key>x</key>
								<integer>157</integer>
								<key>y</key>
								<integer>203</integer>
								<key>x_move</key>
								<integer>5</integer>
								<key>y_move</key>
								<integer>20</integer>
							</dict>
							<dict>
								<key>id</key>
								<integer>3</integer>
								<key>x</key>
								<integer>158</integer>
								<key>y</key>
								<integer>174</integer>
								<key>x_move</key>
								<integer>0</integer>
								<key>y_move</key>
								<integer>20</integer>
							</dict>
							<dict>
								<key>id</key>
								<integer>4</integer>
								<key>x</key>
								<integer>137</integer>
								<key>y</key>
								<integer>162</integer>
								<key>x_move</key>
								<string>0</string>
								<key>y_move</key>
								<string>10</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>type</key>
						<integer>0</integer>
						<key>start</key>
						<real>0.2</real>
						<key>end</key>
						<real>0.8</real>
						<key>value</key>
						<array>
							<dict>
								<key>id</key>
								<integer>1</integer>
								<key>x</key>
								<integer>135</integer>
								<key>y</key>
								<integer>238</integer>
								<key>x_move</key>
								<string>2</string>
								<key>y_move</key>
								<string>-30</string>
							</dict>
							<dict>
								<key>id</key>
								<integer>2</integer>
								<key>x</key>
								<string>162</string>
								<key>y</key>
								<string>223</string>
								<key>x_move</key>
								<string>0</string>
								<key>y_move</key>
								<string>-35</string>
							</dict>
							<dict>
								<key>id</key>
								<integer>3</integer>
								<key>x</key>
								<string>158</string>
								<key>y</key>
								<string>194</string>
								<key>x_move</key>
								<string>0</string>
								<key>y_move</key>
								<string>-35</string>
							</dict>
							<dict>
								<key>id</key>
								<integer>4</integer>
								<key>x</key>
								<string>137</string>
								<key>y</key>
								<string>172</string>
								<key>x_move</key>
								<string>0</string>
								<key>y_move</key>
								<string>-20</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>type</key>
						<integer>0</integer>
						<key>start</key>
						<real>0.8</real>
						<key>end</key>
						<integer>1</integer>
						<key>value</key>
						<array>
							<dict>
								<key>id</key>
								<integer>1</integer>
								<key>x</key>
								<string>133</string>
								<key>y</key>
								<string>208</string>
								<key>x_move</key>
								<string>-3</string>
								<key>y_move</key>
								<string>10</string>
							</dict>
							<dict>
								<key>id</key>
								<integer>2</integer>
								<key>x</key>
								<string>162</string>
								<key>y</key>
								<string>188</string>
								<key>x_move</key>
								<string>-5</string>
								<key>y_move</key>
								<string>15</string>
							</dict>
							<dict>
								<key>id</key>
								<integer>3</integer>
								<key>x</key>
								<string>158</string>
								<key>y</key>
								<string>159</string>
								<key>x_move</key>
								<string>0</string>
								<key>y_move</key>
								<string>15</string>
							</dict>
							<dict>
								<key>id</key>
								<integer>4</integer>
								<key>x</key>
								<string>137</string>
								<key>y</key>
								<string>152</string>
								<key>x_move</key>
								<string>0</string>
								<key>y_move</key>
								<string>10</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>animation</key>
	<dict>
		<key>ruyao</key>
		<array>
			<dict>
				<key>unit_name</key>
				<string>xiongbu</string>
				<key>anim_name</key>
				<string>rock</string>
				<key>time</key>
				<integer>1</integer>
				<key>delay</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
