<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>property</key>
	<dict>
		<key>texture</key>
		<array>
			<string>tex1.png</string>
		</array>
	</dict>
	<key>grid_tree</key>
	<array>
		<dict>
			<key>unit</key>
			<dict>
				<key>uv</key>
				<array>
					<array>
						<string>0.155</string>
						<string>0</string>
					</array>
					<array>
						<string>0</string>
						<string>0.175</string>
					</array>
					<array>
						<string>0</string>
						<string>0.8925</string>
					</array>
					<array>
						<string>0.325</string>
						<string>0.8925</string>
					</array>
					<array>
						<string>0.415</string>
						<string>0.55</string>
					</array>
					<array>
						<string>0.415</string>
						<string>0</string>
					</array>
				</array>
				<key>vertex</key>
				<array>
					<array>
						<string>62</string>
						<string>400</string>
					</array>
					<array>
						<string>0</string>
						<string>330</string>
					</array>
					<array>
						<string>0</string>
						<string>43</string>
					</array>
					<array>
						<string>130</string>
						<string>43</string>
					</array>
					<array>
						<string>166</string>
						<string>180</string>
					</array>
					<array>
						<string>166</string>
						<string>400</string>
					</array>
				</array>
				<key>triangle</key>
				<array>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
					</array>
					<array>
						<string>0</string>
						<string>2</string>
						<string>3</string>
					</array>
					<array>
						<string>0</string>
						<string>3</string>
						<string>4</string>
					</array>
					<array>
						<string>0</string>
						<string>4</string>
						<string>5</string>
					</array>
				</array>
				<key>texture</key>
				<string>0</string>
			</dict>
			<key>name</key>
			<string>toufa</string>
			<key>animation</key>
			<array/>
			<key>property</key>
			<dict>
				<key>width_count</key>
				<string>1</string>
				<key>height_count</key>
				<string>1</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>children</key>
			<array>
				<dict>
					<key>unit</key>
					<dict>
						<key>uv</key>
						<array>
							<array>
								<string>0.3625</string>
								<string>0.65</string>
							</array>
							<array>
								<string>0.675</string>
								<string>0.65</string>
							</array>
							<array>
								<string>0.3625</string>
								<string>1</string>
							</array>
							<array>
								<string>0.675</string>
								<string>1</string>
							</array>
						</array>
						<key>vertex</key>
						<array>
							<array>
								<string>25</string>
								<string>365</string>
							</array>
							<array>
								<string>150</string>
								<string>365</string>
							</array>
							<array>
								<string>25</string>
								<string>225</string>
							</array>
							<array>
								<string>150</string>
								<string>225</string>
							</array>
						</array>
						<key>triangle</key>
						<array>
							<array>
								<string>0</string>
								<string>1</string>
								<string>2</string>
							</array>
							<array>
								<string>1</string>
								<string>2</string>
								<string>3</string>
							</array>
						</array>
						<key>texture</key>
						<string>0</string>
					</dict>
					<key>name</key>
					<string>lian</string>
					<key>animation</key>
					<array/>
					<key>property</key>
					<dict>
						<key>width_count</key>
						<string>1</string>
						<key>height_count</key>
						<string>1</string>
						<key>x</key>
						<string>0</string>
						<key>y</key>
						<string>0</string>
					</dict>
					<key>children</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
	<key>animation</key>
	<dict>
		<key>ruyao</key>
		<array>
			<dict>
				<key>unit_name</key>
				<string>xiongbu</string>
				<key>anim_name</key>
				<string>rock</string>
				<key>time</key>
				<integer>1</integer>
				<key>delay</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
